<?xml version="1.0" encoding="UTF-8" ?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">
    <group>
        <item
            android:id="@+id/catalog"
            android:title="Catálogo"
            android:icon="@mipmap/icon">
        </item>
        <item
            android:id="@+id/cart"
            android:title="Carrinho"
            android:icon="@mipmap/icon">
        </item>
    </group>
</menu>